<div class="row">
  <div class="col-xl-9 col-sm-7">
  <%= render "_form.html", assigns %>
  <%= render "_recent_work.html", assigns %>
  </div>
  <div class="col-xl-3 col-sm-5">
    <%= render "_goals.html", assigns %>
    <%= render "_earnings.html", assigns %>
    <%= render "_current_work.html", assigns %>
    <%= render "_pending_invoices.html", assigns %>
  </div>
</div>
