<div class="container-sidebar">
  <div class="row">
    <div class="col-sm-6">
      A
    </div>
    <div class="col-sm-6">
      B
    </div>
  </div>
</div>

<div class="container-body">
<%= render "form.html", assigns %>
<%= render "recent_work.html", assigns %>
</div>
